.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 20vh;
  place-items: center;
  height: 100%;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 300px;
}

.homeContainer hr {
  width: 70vw;
}

.headingContainer {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  place-content: start;
  place-items: start;
  height: 100%;
  text-align: justify;
  width: 100%;
}

.titles {
  width: 29vw;
}

.titles h1 {
  font-family: "Red Hat Mono";
  font-size: 2vw;
  font-weight: 400;
  white-space: nowrap;
}

.titles h3 {
  font-family: "Red Hat Mono";
  font-size: 1.5vw;
  font-weight: 400;
  white-space: nowrap;
}

#nombre {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.imageContainer {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 70rem;
  height: 55rem;
  overflow: hidden;
}

.fotoHome {
  position: relative;
  right: 5.5em;
  top: 1em;
  height: 25em;
}

.rectangleHeading {
  background-color: #ffed00;
  height: 22em;
  width: 70em;
  position: relative;
  left: -3em;
  bottom: -12em;
  transform: rotate(-45deg);
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}

.circleHeading {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 22em;
  width: 22em;
  border-radius: 50%;
  z-index: 9;
  background-color: #ffed00;
}

.cutterCircle {
  height: 25em;
  width: 22em;
  position: absolute;
  bottom: 0;
  border-radius: 0% 0% 46% 46%;
  display: flex;
  overflow: hidden;
}

.skillsContainer {
  display: flex;
  gap: 8px;
  width: 29vw;
}

.skillsContainer button {
  font-weight: 600;
  border-radius: 5px;
  font-family: Red Hat Mono;
  border: 0;
  padding: 3px;
  white-space: nowrap;
}

.skillsContainer :first-child {
  background-color: #ffee00b7;
}

.skillsContainer :nth-child(2) {
  background-color: rgb(209, 209, 209);
}

.skillsContainer :nth-child(3) {
  background-color: rgb(245, 223, 194);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: justify;
  font-family: "Red Hat Mono";
}

.aboutContainer h2 {
  text-align: justify;
}

.aboutContainer p {
  line-height: 1.6;
  white-space: normal;
}

.proyectsBiggerContainer {
  display: flex;
  flex-direction: column;
  gap: 8em;
  text-align: justify;
  font-family: "Red Hat Mono";
}

.proyectsContainer {
  display: flex;
  flex-direction: row;
  gap: 5em;
  flex-wrap: wrap;
}

.eachProyectContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  font-family: "Red Hat Mono";
  font-weight: 400;
}

.eachProyectContainer img {
  width: 24em;
  border-radius: 10px;
  filter: grayscale(100%);
}

.eachProyectContainer div {
  color: #000000;
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  bottom: 2em;
  left: 17em;
  background-color: #ffed00;
  width: 60px;
  height: 60px;
  place-items: center;
  place-content: center;
  border-radius: 10px;
}

.eachProyectContainer h5 {
  font-size: 1.7em;
  margin-top: -1em;
}

.eachProyectContainer p {
  font-size: 1.4em;
}

.proyectOnHover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.imageOnHover {
  filter: grayscale(0%);
}

.project1 {
  position: relative;
  bottom: 3em;
  left: 0px;
}

.project2 {
  position: relative;
  top: 3em;
  left: 0px;
}

.project3 {
  position: relative;
  top: 12em;
  left: 0px;
}

.contactContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.contactSideInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9em;
}

.contactSideInfoContainer h3{
  font-size: 2.7em;
  font-family: "Red Hat Mono";
}

.contactSideInfoContainer p{
  font-size: 1.5em;
  font-family: "Red Hat Mono";
}

.eachInput {
  display: block;
  width: 60%;
  font-family: "Red Hat Mono";
  box-sizing: border-box;
}

.eachInput input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  font-family: "Red Hat Mono";
}

.eachInput input:focus {
  border-bottom: 2px solid #78788c;
}

.submitButton {
  cursor: pointer;
  background-color: #ffed00;
  padding: 16px 32px;
  border-radius: 32px;
  color: #000;
  font-size: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
  width: 170px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 6px #4e3cc8;
  position: relative;
}

.errorMessageForm{
  color: red;
  padding-top: 5px;
  box-sizing: border-box;
}

.eachIcon{
  size: 5em;
}

.iconsContact{
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.socialButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.socialButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 64px;
  height: 64px;
  text-decoration: none;
  border-radius: 100%;
  background: #ffffff;
  text-align: center;
}
.socialButton::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.socialButton:focus, .socialButton:hover {
  color: #fff;
}
.socialButton:focus::after, .socialButton:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.socialButton img, .socialButton svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.socialButton img {
  width: 25.6px;
}
.socialButton svg {
  height: 40%;
  width: 40%;
}
.socialButtonEmail {
  color: #0072c6;
}
.socialButtonEmail::after {
  background: #0072c6;
}

.socialButtonLinkedin {
  color: #0077b5;
}
.socialButtonLinkedin::after {
  background: #0077b5;
}

.socialButtonGithub {
  color: #6e5494;
}
.socialButtonGithub::after {
  background: #6e5494;
}

.socialButtonTwitter {
  color: #55acee;
}
.socialButtonTwitter::after {
  background: #55acee;
}


@media screen and (max-width: 2300px) {
  .imageContainer {
    width: 60rem;
  }
}
@media screen and (max-width: 1921px) {
  .imageContainer {
    width: 50rem;
    height: 40rem;
  }
  .rectangleHeading {
    left: -2em;
    bottom: 4em;
  }
}
@media screen and (max-width: 1651px) {
  .imageContainer {
    width: 40rem;
    height: 40rem;
  }
  .rectangleHeading {
    left: -2em;
    bottom: 4em;
  }
}

@media screen and (max-width: 1250px) {
  .imageContainer {
    width: 35rem;
  }
  .rectangleHeading {
  }
}

@media screen and (max-width: 1100px) {
  .imageContainer {
    width: 35rem;
    top: 5%;
  }

  .titles h1 {
    font-size: 1.7em;
  }

  .titles h3 {
    font-family: "Red Hat Mono";
    font-size: 1.3em;
    font-weight: 400;
  }
  @media screen and (max-height: 700px) {
    .imageContainer {
      top: 0%;
    }
  }
}

@media screen and (max-width: 950px) {
  .imageContainer {
    width: 25rem;
  }
}

@media screen and (max-width: 770px) {
  .imageContainer {
    width: 20rem;
    top: -5%;
  }
}

@media screen and (max-width: 500px) {
  .imageContainer {
    width: 25rem;
    top: -15%;
  }
  .headingContainer {
    margin-top: 70vh;
  }
  .homeContainer {
    gap: 10vh;
  }
}

@media screen and (max-width: 400px) {
  .imageContainer {
    width: 20rem;
  }
}

@media screen and (max-width: 330px) {
  .imageContainer {
    width: 18rem;
  }
  .titles h1 {
    font-size: 1.3em;
  }

  .titles h3 {
    font-size: 1em;
  }
}
