.navBarContainer {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 8vh;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  z-index: 11;
  font-family: Red Hat Mono;
  color: rgba(0, 0, 0, 0.72);
  background-color: #f8c304;
  box-shadow: 1px 1px 20px 1px rgba(107, 107, 107, 0.618);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 40px;
  font-weight: 600;
  font-size: 1em;
}


.contactButtonContainer a {
  border: 0;
  background-color: rgb(226, 226, 226);
  color: rgba(0, 0, 0, 0.72);
  font-size: 15px;
  padding: 15px 30px 15px 30px;
  border-radius: 25px;
  font-family: Red Hat Mono;
  font-weight: 600;
}



@media screen and (max-width: 740px) {
  .navBarContainer {
    transition: height 0.2s;
  }
  .menuButton {
    position: fixed;
    top: 1.4em;
    display: flex;
    flex-direction: column;
    width: 35px;
    border: 0;
    background: transparent;
    gap: 0.65rem;
  }
  .lineasButton {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }

  .linea1 {
    animation-name: animacion1;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  .linea2 {
    animation-name: animacion2;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  .linea3 {
    animation-name: animacion3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .menuContainerAbierto {
    height: 80vh;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    gap: 3.7em;
    font-size: 1.6em;
    color: black;
  }

  @keyframes animacion1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }
  @keyframes animacion2 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes animacion3 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-45deg);
    }
  }
}
