.footerContainer{
    width: 100vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgba(248,195,4,1) 49%, rgba(248,195,4,1) 54%, rgba(248,195,4,0.8547794117647058) 62%, rgba(248,195,4,0.6418942577030813) 74%, rgba(248,195,4,0.4290091036414566) 82%, rgba(248,195,4,0.40379901960784315) 87%, rgba(248,195,4,0.24413515406162467) 94%, rgba(248,195,4,0.16850490196078427) 96%, rgba(248,195,4,0.07046568627450978) 98%, rgba(248,195,4,0) 100%);
}