.footerContainer{
    width: 100vw;
    height: 15vh;
    padding: 0;
    margin: 0;
    background:  rgba(248,195,4,1) 49%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 2em;
}

.footerChicoContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-family: Red Hat Mono;
    font-size: 1.5em;
}

.botonFooter{
    border: 1px solid rgba(33, 33, 33, 0.738);
    padding: 0 20px 0 20px;
    border-radius: 7px;
    font-weight: 400;
}

.botonFooter:hover{
    background-color: rgba(78, 78, 78, 0.211);
}

.textoFooter{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(22, 22, 22, 0.826);
    font-style: italic;
}